img {
  width: 150px;
  height: auto;
}

#member_div {
  display: flex;
  align-items: center;
}

.circular-container {
  margin-left: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
}
